@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
	--width:570px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{

}
.container{
	display: flex;
  padding: 0 10px;
  min-height: 100vh;
	height: 100%;
  align-items: center;
  justify-content: center;
  background: #5f86da;
	
}

.clouds-container {
  position: absolute;
	z-index: 2;
  top: 0;
  left: 0;
	height: 100%;
	width: 100%;

}

.wrapper{
	position: relative;
  width: var(--width);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
	z-index: 9;
}
.wrapper h1{
  font-size: 25px;
  font-weight: 500;
  padding: 20px 25px;
  border-bottom: 1px solid #ccc;
	
}
.smile-img{
	position: absolute;
	top: 5px;
	right: 5px;
}
.wrapper .content{
  margin: 25px 25px 35px;
}
.content .inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs input{
  height: calc(var(--width) / 10);
  width: calc(var(--width) / 10);
  margin: 4px;
  font-size: 24px;
  font-weight: 500;
  color: #1ba98c;
  text-align: center;
  border-radius: 5px;
  background: none;
  pointer-events: none;
  text-transform: uppercase;
  border: 1px solid #B5B5B5;
}
.typing-input {
  opacity: 0;
  z-index: -999;
  position: absolute;
  pointer-events: none;
}
.inputs input:first-child{
  margin-left: 0px;
}
.content .details{
  margin: 20px 0 25px;
}
.details p{
  font-size: 19px;
  margin-bottom: 10px;
}
.content .reset-btn{
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  background: #1BB295;
  transition: all 0.3s ease;
}
.content .reset-btn:hover{
  background: #18a589;
}



.cloud {
  background-image: url("cloud.svg"); /* Замените "cloud.svg" на путь к вашему SVG облаку */
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 150px; /* Задайте ширину вашего облака */
  height: 90px; /* Задайте высоту вашего облака */
  
}



/* Разместите облака в разных местах окна по желанию */
.cloud:nth-child(1) {
  top: 7%;
  left: 10%;
	animation: cloudsAnimation 24s linear infinite;
}

.cloud:nth-child(2) {
  top: 40%;
  left: 3%;
	animation: cloudsAnimation 26s linear infinite;
}

.cloud:nth-child(3) {
  top: 35%;
  left: 76%;
	animation: cloudsAnimation 20s linear infinite;
}

.cloud:nth-child(4) {
  top: 70%;
  left: 80%;
	animation: cloudsAnimation 23s linear infinite;
}
.cloud:nth-child(5) {
  top: 5%;
  left: 79%;
	animation: cloudsAnimation 19s linear infinite;
}

.cloud:nth-child(6) {
  top: 52%;
  left: 27%;
	animation: cloudsAnimation 24s linear infinite;
}

.cloud:nth-child(7) {
  top: 76%;
  left: 29%;
	animation: cloudsAnimation 15s linear infinite;
}

.cloud:nth-child(8) {
  top: 83%;
  left: 54%;
	animation: cloudsAnimation 22s linear infinite;
}

.cloud:nth-child(9) {
  top: 8%;
  left: 55%;
	animation: cloudsAnimation 19s linear infinite;
}

.cloud:nth-child(10) {
  top: 84%;
  left: 5%;
	animation: cloudsAnimation 25s linear infinite;
}

.cloud:nth-child(11) {
  top: 5%;
  left: 29%;
	animation: cloudsAnimation 17s linear infinite;
}

.cloud:nth-child(12) {
  top: 70%;
  left: 7%;
	animation: cloudsAnimation 20s linear infinite;
}
.cloud:nth-child(13) {
  top: 53%;
  left: 63%;
	animation: cloudsAnimation 25s linear infinite;
}



@keyframes cloudsAnimation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
	100%{
    transform: translateX(0%);
	}
}



@media screen and (max-width: 1000px){
	.cloud{
		width: 100px;
		height: 60px;
	}
	.cloud:nth-child(11) {
		top: 16%;
		left: 31%;
	}
	
}
@media screen and (max-width: 600px){
	.cloud{
		width: 100px;
		height: 60px;
	}
	.cloud:nth-child(1) {
		top: 10%;
		left: 7%;
	}
	.cloud:nth-child(9) {
		top: 8%;
		left: 4%;
	}
	.cloud:nth-child(1) {
		top: 22%;
		left: 66%;
	}
	.cloud:nth-child(5) {
		top: 5%;
		left: 62%;
	}
	.cloud:nth-child(4) {
		top: 70%;
		left: 65%;
	}

	.cloud:nth-child(3) {
		top: 35%;
		left: 56%;
	}
	
}






@media screen and (max-width: 460px) {
  .wrapper {
    width: 100%;
  }
  .wrapper h1{
    font-size: 20px;
    padding: 16px 20px;
  }
  .wrapper .content{
    margin: 25px 20px 35px;
  }
  .inputs input{
    height: calc(var(--width) / 12);
  width: calc(var(--width) / 12);
    margin: 3px;
    font-size: 20px;
  }
  .details p{
    font-size: 16px;
  }
  .content .reset-btn{
    padding: 14px 0;
    font-size: 16px;
  }


}
